# Ignore Gradle project-specific cache directory
/backend/.gradle

# Ignore Gradle build output directory
/backend/build
/backend/app/build

# Ignore VS Code
/backend/.vscode/
/.vscode/

# Ignore IntelliJ IDEA
/backend/.idea
/.idea
