# Ignore Gradle project-specific cache directory
/backend/.gradle

# Ignore Gradle build output directory
/backend/build
/backend/app/build

# Ignore VS Code
/backend/.vscode/
/.vscode/
/frontend/dummy_api/venv/

# Ignore IntelliJ IDEA
/backend/.idea
/.idea
**/dummy_api/
/frontend/dummy_api/

#Ignore unnecessary files in network directory
/backend/network/channel-artifacts/*.tx
/backend/network/channel-artifacts/*.block
/backend/network/ledgers
/backend/network/ledgers-backup
/backend/network/channel-artifacts/*.json
/backend/network/channel-artifacts/*.pb
/backend/network/org3-artifacts/crypto-config/*
/backend/network/organizations/fabric-ca/ordererOrg/*
/backend/network/organizations/fabric-ca/org1/*
/backend/network/organizations/fabric-ca/org2/*
/backend/network/organizations/ordererOrganizations/*
/backend/network/organizations/peerOrganizations/*
/backend/network/system-genesis-block/*
/backend/network/*.tar.gz
/backend/network/log.txt
